extends layout

block content
    h1 Dashboard
    if videos && videos.length
        ul
            each video in videos
                li
                    h2= video.title
                    p= video.description
                    // If you have a URL for the video, you can add a link or an embedded player
                    a(href=video.url, target='_blank') Watch Video
    else
        p No videos to display.
