extends layout

block content
  h1 Dashboard
  if videos && videos.length
    h2 Your Videos
    ul
      each video in videos
        li
          a(href=`/video/${video._id}`) #{video.title}
          // Add more video details as needed
  else
    p No videos uploaded yet.
  
  // Link to upload a new video
  a(href='/upload') Upload a New Video
