extends layout

block content
  h1 Your Dashboard
  if videos.length
    h2 Uploaded Videos
    each video in videos
      div
        p= video.title
        // Display video or link
        a(href=`/videos/${video._id}`) View
  else
    p No videos uploaded yet.
  a(href='/upload') Upload a New Video
