extends layout

block content
  h1 Profile
  p Username: #{user.username}
  p Email: #{user.email}
  // Add more user details as needed

  // Link to edit profile
  a(href='/profile/edit') Edit Profile
