extends layout

block content
  h1 Register
  form(method='POST', action='/register')
    div
      label(for='email') Email:
      input(type='email', name='email', required=true)
    div
      label(for='password') Password:
      input(type='password', name='password', required=true)
    div
      input(type='submit', value='Register')
